<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ====== Favicon ====== -->
    <link
      rel="shortcut icon"
      href="images/favicon-32x32.png"
      type="image/png"
    />
    <!-- ====== Boxicons ====== -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ====== Swiper CSS ====== -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- ====== Custom CSS ====== -->
    <link rel="stylesheet" href="css/styles.css" />
    <title>Fashion Shop</title>
  </head>
  <body>
    <%- include('header.ejs') %>

    <!-- ====== Collection ====== -->
    <section class="section collection">
      <div class="title">
        <span>COLLECTION</span>
        <h2>Our Top Collection</h2>
      </div>
      <div class="filters d-flex">
        <div onclick= <%= showJewellery %> data-filter="Jewellery">Jewellery</div>
        <div onclick= <%= showFurniture %> data-filter="Furniture">Furniture</div>
        <div onclick= <%= showClothing %> data-filter="Clothing">Clothing</div>
        <div onclick= <%= showFootwear %> data-filter="Footwear">Footwear</div>
      </div>

      

      <div class="products container">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper" id="products">
            <div class="swiper-slide">
              <!-- <div class="product">
                <div class="top d-flex">
                  <img src="./images/product-1.png" alt="" />
                  <div class="icon d-flex">
                    <i class="bx bxs-heart"></i>
                  </div>
                </div>
                <div class="bottom">
                  <h4>Nike Air Men’s Hoodie - Imported Hoodie Red</h4>
                  <div class="d-flex">
                    <div class="price">$150</div>
                    <div class="rating">
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                    </div>
                  </div>
                </div>
              </div> -->
              
            </div>
          </div>
        </div>
        <div class="pagination">
          <div class="custom-pagination"></div>
        </div>
      </div>
    </section>


    <!-- ====== New Arrival ====== -->
    <section class="section new-arrival">
      <div class="title">
        <span>NEW ARRIVAL</span>
        <h2>Latest Collection</h2>
      </div>

      <div class="row container">
        <div class="col col-1">
          <img src="./images/poster-1.png" alt="" />
          <h3>
            2021 Trends <br />
            Women’s Smart Skirt
          </h3>
        </div>
        <div class="col col-2">
          <img src="./images/poster-2.png" alt="" />
          <h3>
            2021 Trends <br />
            Women’s Smart Skirt
          </h3>
        </div>
        <div class="col col-3">
          <img src="./images/poster-3.png" alt="" />
          <h3>
            2021 Trends <br />
            Women’s Smart Shirt <br />
            <span>Discover More:</span>
          </h3>
        </div>
      </div>
    </section>

    <!-- ====== Categories ====== -->
    <section class="section categories">
      <div class="title">
        <span>CATEGORIES</span>
        <h2>2021 Latest Collection</h2>
      </div>

      <div class="products container">
        <!-- <div class="product">
          <div class="top d-flex">
            <img src="./images/product-1.png" alt="" />
            <div class="icon d-flex">
              <i class="bx bxs-heart"></i>
            </div>
          </div>
          <div class="bottom">
            <div class="d-flex">
              <h4>Nike Air Men’s Hoodie - Imported Hoodie Red</h4>
              <a href="" class="btn cart-btn">Add to Cart</a>
            </div>
            <div class="d-flex">
              <div class="price">$150</div>
              <div class="rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="button d-flex">
        <a class="btn loadmore">Load More</a>
      </div>
    </section>
    <!-- ====== Footer ====== -->
  <%- include('footer.ejs') %>

    <!-- ====== SwiperJs ====== -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- ====== Custom Script ====== -->
    <!-- <script src="js/product.js"></script> -->
    <script src="js/main.js"></script>
    <script>
// const allProducts = <%= productList %>     
    </script>


    <script>
      
      function getClickedProducts(item) {
        console.log(item);
        let allProducts = '<%= productList %>'
        // let products = <%= productList %>

        var html = ""
        for(var i = 0; i < allProducts.length; i++){

          console.log(allProducts[i])

          if(allProducts[i].category === item){
            html = html + `<div class="swiper-slide">
              <div class="product">
                <div class="top d-flex">
                  <img src=${product.image[0]} alt="" />
                  <div class="icon d-flex">
                    <i class="bx bxs-heart"></i>
                  </div>
                </div>
                <div class="bottom">
                  <h4>${product.name}</h4>
                  <div class="d-flex">
                    <div class="price">$${product.retailPrice}</div>
                    <div class="rating">
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                      <i class="bx bxs-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>`

            html += " ";
          }
        }
        console.log(allProducts)

        document.getElementById('products').innerHTML = html
      }
    </script>
    
  </body>
</html>
